.App {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
nav {
  position: fixed;
  right: 0px;
  overflow: hidden;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid #eaeaeb;
}
  
.nav-menu {
  display: inline;
  float: right;
  text-align: right;
}
  
.nav-menu li {
  list-style-type: none;
}

.nav-menu a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  text-align: left;
}

.nav-menu a img {
  margin-right: 10px;
  height:30px; 
  width: 30px; 
  border-radius:50%;
  padding: 0.5em 0;
  align-self: flex-start;
}

.nav-menu a .nav-text {
  flex: 1 1 auto;
}

.nav-menu a .nav-text h2 {
  font-weight: bold;
  font-size: 14px;
}

.nav-menu a .nav-text p {
  font-size: 12px;
  color: #9599b6;
}

.main-content {
  margin-top: 70px;
}


.breadcrumb {
  padding: 1.0em 0;
  margin: 10px 40px;
  border-bottom: 1px solid #e6e8ea;
}

.searchbar {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
  margin: 10px 40px;
}

.search {
  width: 50%;
}

.search input {
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  font: inherit;
  padding: 0.5em;
  outline: none;
  width: 100%;
}
.search input:focus {
  outline: auto #17f;
}

.search-toggle {
  float: right;
}

.cards {
  margin: 20px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

.card {
  margin: 10px;
  background-color: #fff;
  border-radius:5px;
  display: flex;
}

.card img {
  padding: 1.0em;
  align-self: flex-start;
}

.card-text {
  padding: 1.0em 1.0em 1.0em 0;
}

.card-text h2 {
  font-size: 16px;
  font-weight: bold;
  padding: 1.0em 0;
}

.card-text h2 a {
  text-decoration: none;
  color: #000;
}

.card-text p {
  color: #9599b6;
  margin-bottom: 20px;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2;
           line-clamp: 2; 
   -webkit-box-orient: vertical;
   font-size: 14px;
}

.card-text span {
  color: #9599b6;
  font-size: 14px;
}

.card-text strong {
  color: #202020;
}

.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before, .toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
  background: #56c080;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}