.App {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
nav {
  position: fixed;
  right: 0px;
  overflow: hidden;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid #eaeaeb;
}
  
.nav-menu {
  display: inline;
  float: right;
  text-align: right;
}
  
.nav-menu li {
  list-style-type: none;
}

.nav-menu a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  text-align: left;
}

.nav-menu a img {
  margin-right: 10px;
  height:30px; 
  width: 30px; 
  border-radius:50%;
  padding: 0.5em 0;
  align-self: flex-start;
}

.nav-menu a .nav-text {
  flex: 1 1 auto;
}

.nav-menu a .nav-text h2 {
  font-weight: bold;
  font-size: 14px;
}

.nav-menu a .nav-text p {
  font-size: 12px;
  color: #9599b6;
}

.main-content {
  margin-top: 70px;
}

.loader {
  padding: 1.0em 0;
  margin: 10px 40px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.breadcrumb {
  padding: 1.0em 0;
  margin: 10px 40px;
  border-bottom: 1px solid #e6e8ea;
}

.searchbar {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
  margin: 10px 40px;
}

.search {
  width: 50%;
}

.search input {
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  font: inherit;
  padding: 0.5em;
  outline: none;
  width: 100%;
}
.search input:focus {
  outline: auto #17f;
}

.search-toggle {
  float: right;
}

.cards {
  margin: 20px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
  margin: 10px;
  background-color: #fff;
  border-radius:5px;
  display: flex;
}

.card:hover {
  border: 1px solid #17f;
}

.card img {
  width: 30%;
  padding: 1.0em;
  align-self: flex-start;
}

.card-text {
  padding: 1.0em 1.0em 1.0em 0;
}

.card-text h2 {
  font-size: 16px;
  font-weight: bold;
  padding: 1.0em 0;
  color: #000;
}


.card-text p {
  color: #9599b6;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
          line-clamp: 2; 
  -webkit-box-orient: vertical;
  font-size: 14px;
}

.card-text span {
  color: #9599b6;
  font-size: 14px;
}

.card-text span label{
  margin-left: 10px;
}

.card-text strong {
  color: #202020;
}

.toggle-container {
  padding: 5px 0;
  text-align: center;
}

.toggle input {
  position: absolute;
  opacity: 0;
}
.toggle {
  display: inline-block;
  font-size: 20px; 
  height: 10px;
  width: 20px;
  background: #d3d5e2;
  border-radius: 1em;
  margin: 0 5px;
}

.toggle div {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #9599b6;
  box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}

.toggle input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}


/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
  .card img { width: auto;}
}